*.py[co]

rpmbuild/
_version.py

# Packages
*.egg
*.eggs
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

#shared objects
*.so

# Created by editors
*~
\#*
\.\#*
*.swp
